<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
 <mapper namespace = "guam">
 	<select id = "getGuamData" resultType = "com.guam.guam.model.Guam">
 		SELECT *
 		FROM test
 	</select>
 	<insert id = "insertGuamData" parameterType = "com.guam.guam.model.Guam">
 		INSERT INTO reserve (korName, engName, phone, email, bigMidCategory, smallEtcCategory, reserveDateAndTime, reservePeople, preCharge, localCharge, currentTime)
 		VALUES ( #{korName}, #{engName}, #{phone}, #{email}, #{bigMidCategory}, #{smallEtcCategory}, #{reserveDateAndTime}, #{reservePeople}, #{preCharge}, #{localCharge}, now() )
 	</insert>
 </mapper>
 
 