<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
 <mapper namespace = "guam">
 	<select id = "getListCount" resultType = "int">
 		SELECT count(*) as count
 		FROM reservation
 	</select>
 	<select id = "getReserveList" resultType = "com.guam.guam.model.Guam">
 		SELECT *
 		FROM reservation
 	</select>
 	
 	<insert id = "insertGuamData" parameterType = "com.guam.guam.model.Guam">
 		INSERT INTO reservation (korName, engName, phone, email, bigMidCategory, smallEtcCategory, reserveDateAndTime, reservePeople, preCharge, localCharge, currentDate)
 		VALUES ( #{korName}, #{engName}, #{phone}, #{email}, #{bigMidCategory}, #{smallEtcCategory}, #{reserveDateAndTime}, #{reservePeople}, #{preCharge}, #{localCharge}, now() )
 	</insert>
 	<delete id = "deleteReserveData" parameterType = "com.guam.guam.model.Guam">
		DELETE 
		FROM reservation
		WHERE resIdx = #{resIdx}
 	</delete>
 	<insert id = "insertOptions" parameterType = "com.guam.guam.model.Guam">
 		INSERT INTO options (opBig, opMid, opSmall, opAdult, opKid, opBaby)
 		VALUES ( #{opBig}, #{opMid}, #{opSmall}, #{opAdult}, #{opKid}, #{opBaby})
 	</insert>
 	
 </mapper>
 
 