/* font style*/

@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

/* font style*/

/* a tag style */

a:link{text-decoration:none; color:#646464;}
a:visited{text-decoration:none; color:#646464;}
a:active{text-decoration:none; color:#646464;}
a:hover{text-decoration:none; color:#646464;}

/* a tag style */

body {
  background-image:url(../img/background.jpg);
  width:100%;
  background-color:white;
  margin:auto;
  background-repeat:no-repeat;
  font-family: 'Jeju Gothic', serif;

}

#top_head {
  width : 100%;
  margin : 0px;
  overflow : auto;
  padding-bottom : 80px;
}

#top_title {
  width : 100%;
  text-align : center;
  padding-top : 40px;
  padding-bottom : 10px;
  color : white;
}

#top_title > .up_text{
  font-size : 35px;
  margin-bottom : 10px;
  font-weight : 100;
  font-family: 'Nanum Brush Script', serif;
}

#top_title > .down_text{
  font-size : 60px;
  font-family: 'Jeju Gothic', serif;
}

#top_choice {
  width : 95%;
  width : -webkit-calc(100% - 50px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 50px); /* for Firefox */
  width :         calc(100% - 50px); /* for IE */
  height : 400px;
  overflow : auto;
  margin : 0 25px;
  background :  rgba(255,255,255,.7);
  border-top : 3px solid #ff6600;
}

#top_choice > .category {
  float:left;
  width : 220px;
  height : 400px;
}

#top_choice > .category > .content {
  float:left;
  width : 100%;
  height : 25%;
  display : table;
}

#top_choice > .category > .content > .category_list_on{
  float:left;
  width : 95%;
  width : -webkit-calc(100% - 20px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 20px); /* for Firefox */
  width :         calc(100% - 20px); /* for IE */
  height : 100%;
  background : #ffffff;
  color : #ff6600;
  text-align : center;
  display : table;
  border-bottom : 3px solid #ff6600;
}

#top_choice > .category > .content > .category_list_on > p{
  line-height : 100%;
  display : table-cell;
  vertical-align : middle;
  font-size : 20px;
  font-family: 'Jeju Gothic', serif;
}

#top_choice > .category > .content > .category_arrow_on{
  float : right;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 20px solid white;
  border-bottom: 20px solid transparent;
  margin-top : 30px;
}

#top_choice > .category > .content > .category_list_off{
  float:left;
  width : 95%;
  width : -webkit-calc(100% - 20px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 20px); /* for Firefox */
  width :         calc(100% - 20px); /* for IE */
  height : 100%;
  color : #999999;
  text-align : center;
  display : table;
  border-bottom : 3px solid #999999;
}

#top_choice > .category > .content > .category_list_off > p{
  line-height : 100%;
  display : table-cell;
  vertical-align : middle;
  font-size : 20px;
}

#top_choice > .category > .content > .category_arrow_off{
  display : none;
  float : right;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 20px solid white;
  border-bottom: 20px solid transparent;
  margin-top : 30px;
}

#top_choice > .content {
  float:left;
  width : 80%;
  width : -webkit-calc(100% - 220px - 20px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 220px - 20px); /* for Firefox */
  width :         calc(100% - 220px - 20px); /* for IE */
  height : 397px;
  padding-left : 20px;
}

#top_choice > .content > .inner {
  width : 95%;
  width : -webkit-calc(100% - 30px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 30px); /* for Firefox */
  width :         calc(100% - 50px); /* for IE */
  height : 100%;
  margin : 0 15px;
}

#top_choice > .content > .inner > .title {
  width : 100%;
  text-align : left;
  height : 15%;
  display : table;
  padding-bottom : 10px;
}

#top_choice > .content > .inner > .title > p{
  margin : 0;
  display: table-cell;
  vertical-align: bottom;
  font-size : 20px;
}

#top_choice > .content > .inner > .content {
  visibility : hidden;
  width : 100%;
  background-color : white;
  height : 60%;
}

#top_choice > .content > .inner > .option {
  width : 100%;
  text-align : left;
  height : 25%;
}

#top_choice > .content > .inner > .option > .link {
  float : left;
  width : 50%;
  text-align : left;
  overflow : auto;
  display : table;
}

#top_choice > .content > .inner > .option > .link > .inner {
  width : 100%;
  height : 100px;
  text-align : left;
  display:table-cell;
  vertical-align : middle;
}

#top_choice > .content > .inner > .option > .link > .inner > a > img {
  float : left;
  height : 50px;
  margin : 0 10px;
}

#top_choice > .content > .inner > .option > .link > .inner > a > p {
  text-align : left;
  font-size : 20px;
  line-height : 50px;
  margin : 0;
}

#main {
  background : #ffffff;
  overflow : auto;
  padding : 0 20px;
}

#main > .title {
  width : 97%;
  width : -webkit-calc(100% - 15px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 15px); /* for Firefox */
  width :         calc(100% - 15px); /* for IE */
  border-bottom : 3px solid #ff6600;
  margin-top : 40px;
  margin-bottom : 35px;
  padding-bottom : 5px;
  padding-left : 15px;
  font-family: 'Nanum Gothic', serif;
  font-size : 24px;
  font-weight : bold;
}

#main > .form_box{
  width : 95%;
  width : -webkit-calc(100% - 30px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 30px); /* for Firefox */
  width :         calc(100% - 30px); /* for IE */
  margin : 15px;
  overflow : auto;
}

#main > .form_box > button{
  float : left;
  width : 45%;
  height : 60px;
  font-family: 'Jeju Gothic', serif;
  font-size : 20px;
  text-align : left;
  line-height : 20px;
  padding-left : 30px;
  padding-right : 0px;
  width : -webkit-calc(50% - 8px); /* for Chrome, Safari */
  width :    -moz-calc(50% - 8px); /* for Firefox */
  width :         calc(50% - 8px); /* for IE */
  background-color : #ffffff;
  margin : 4px;
  color : #999999;
  border : 2px solid #999999;
  outline:none;
  outline-style: none;
  -moz-outline-style:none;
  position : relative;
}

#main > .form_box > .toggle_box {
  display : none;
  overflow : auto;
  width : 40%;
  width : -webkit-calc(50% - 20px - 15px - 8px); /* for Chrome, Safari */
  width :    -moz-calc(50% - 20px - 15px - 8px); /* for Firefox */
  width :         calc(50% - 20px - 15px - 8px); /* for IE */
  margin : 4px;
  position : absolute;
  margin-top : 64px;
  max-height : 300px;
  z-index: 100;
}

#main > .form_box > .toggle_box > .toggle_content {
  width : 90%;
  width : -webkit-calc(100% - 20px - 20px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 20px - 20px); /* for Firefox */
  width :         calc(100% - 20px - 20px); /* for IE */
  height : 30px;
  padding : 10px;
  padding-left : 30px;
  font-size : 20px;
  background-color : rgba( 230, 230, 230, 0.9 );
}

#main > .form_box > .toggle_box > .toggle_content:hover{
  background-color : rgba(200, 105, 0, 0.9);
  color : #ffffff;
}

#main > .form_box > input{
  float : left;
  width : 98%;
  height : 60px;
  font-family: 'Jeju Gothic', serif;
  font-size : 20px;
  text-align : left;
  line-height : 20px;
  padding-left : 10px;
  width : -webkit-calc(50% - 10px - 12px); /* for Chrome, Safari */
  width :    -moz-calc(50% - 10px - 12px); /* for Firefox */
  width :         calc(50% - 10px - 12px); /* for IE */
  margin : 4px;
  border : 2px solid #999999;
}

#main > .form_box > input::-webkit-input-placeholder { padding-left : 20px; color: #999999; } /* Chrome/Opera/Safari */
#main > .form_box > input::-moz-placeholder { padding-left : 20px; color: #999999; } /* Firefox 19+ */
#main > .form_box > input:-ms-input-placeholder { padding-left : 20px; color: #999999; } /* IE 10+ */
#main > .form_box > input:-moz-placeholder { padding-left : 20px; color: #999999; } /* Firefox 18- */

#main > .form_box > .input_special{
  float : left;
  width : 47%;
  overflow : auto;
  font-family: 'Jeju Gothic', serif;
  font-size : 20px;
  text-align : left;
  line-height : 20px;
  width : -webkit-calc(50% - 12px); /* for Chrome, Safari */
  width :    -moz-calc(50% - 12px); /* for Firefox */
  width :         calc(50% - 12px); /* for IE */
  margin : 4px;
  border : 2px solid #ff6600;
}

#main > .form_box > .input_special > .top{
  display : table;
  width : 100%;
  height : 60px;
  border-bottom : 2px solid #ff6600;
}

#main > .form_box > .input_special > .top > .left {
  display : table-cell;
  vertical-align : middle;
  float : left;
  width : 22%;
  width : -webkit-calc(27% - 30px); /* for Chrome, Safari */
  width :    -moz-calc(27% - 30px); /* for Firefox */
  width :         calc(27% - 30px); /* for IE */
  padding-left : 30px;
}

#main > .form_box > .input_special > .top > .left > p {
  color : #999999;
}

#main > .form_box > .input_special > .top > .right {
  width : 57%;
  width : -webkit-calc(66% - 40px); /* for Chrome, Safari */
  width :    -moz-calc(66% - 40px); /* for Firefox */
  width :         calc(66% - 40px); /* for IE */
  padding-left : 20px;
  padding-right : 20px;
  display : table-cell;
  vertical-align : middle;
  float : right;
}

#main > .form_box > .input_special > .top > .right > div {
  color : #999999;
  float : left;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

#main > .form_box > .input_special > .top > .icon {
  width : 5%;
  width : -webkit-calc(7% - 5px); /* for Chrome, Safari */
  width :    -moz-calc(7% - 5px); /* for Firefox */
  width :         calc(7% - 5px); /* for IE */
  display : table-cell;
  vertical-align : middle;
  float : right;
  padding-right : 5px;
}

#main > .form_box > .input_special > .top > .icon > p {
  color : #999999;
}


#main > .form_box > .input_special > .middle{
  display : table;
  width : 93%;
  width : -webkit-calc(100% - 30px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 30px); /* for Firefox */
  width :         calc(100% - 30px); /* for IE */
  height : 60px;
  padding-left : 30px;
  margin : 10px 0;
}

#main > .form_box > .input_special > .middle > .left{
  display : table-cell;
  vertical-align : middle;
}
#main > .form_box > .input_special > .middle > .left > div{
  float : left;
}

#main > .form_box > .input_special > .middle > .right{
  display : table-cell;
  vertical-align : middle;
  height : 48px;
  padding : 6px 0;
}

#main > .form_box > .input_special > .middle > .right > .countbox{
  display : table-cell;
  vertical-align : middle;
  float : right;
  overflow : auto;
  height : 44px;
  border : 2px solid #999999;
  margin-right : 20px;
}

#main > .form_box > .input_special > .middle > .right > .countbox > .bt_up{
  float : left;
  width : 44px;
  height : 44px;
  font-size : 35px;
  line-height : 50px;
  text-align : center;
  color : #ff6600;
}

#main > .form_box > .input_special > .middle > .right > .countbox > .bt_down{
  float : left;
  width : 44px;
  height : 44px;
  font-size : 35px;
  line-height : 50px;
  text-align : center;
  color : #ff6600;
}

#main > .form_box > .input_special > .middle > .right > .countbox > .count{
  float : left;
  width : 120px;
  height : 44px;
  line-height : 50px;
  font-size : 23px;
  text-align : center;
  color : black;
  border:0;
  padding:0px;
  background : #f1f1f1;
}

#main > .form_box > .billing {
  float : left;
  width : 44%;
  width : -webkit-calc(50% - 40px); /* for Chrome, Safari */
  width :    -moz-calc(50% - 40px); /* for Firefox */
  width :         calc(50% - 40px); /* for IE */
  padding : 20px;
}

#main > .form_box > .billing > .normal_text {
  float : left;
  width : 100%;
  overflow : auto;
  color : #999999;
  font-size : 20px;
}

#main > .form_box > .billing > .normal_text > .left {
  float : left;
  padding-left : 30px;
}

#main > .form_box > .billing > .normal_text > .left > p {
  line-height : 40px;
  margin : 0;
}

#main > .form_box > .billing > .normal_text > .right {
  float : right;
  padding-right : 30px;
}

#main > .form_box > .billing > .normal_text > .right > p {
  line-height : 40px;
  margin : 0;
}

#main > .button_container {
  width : 95%;
  width : -webkit-calc(100% - 30px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 30px); /* for Firefox */
  width :         calc(100% - 30px); /* for IE */
  margin : 30px 0;
  overflow : auto;
  height : 80px;
  text-align : center;
}

#main > .button_container > .button_design {
  display : table;
  width : 200px;
  height : 70px;
  margin : auto;
  background-color : #ff6600;
  color : #ffffff;
  font-size : 30px;
  cursor : pointer;
}

#main > .button_container > .button_design > p {
  display : table-cell;
  vertical-align : middle;
}

#list {
  background : #ffffff;
  overflow : auto;
  padding : 0 20px;
}

#list > .box{
  width : 100%;
  border-top : 2px solid #ff6600;
  border-bottom : 2px solid #000000;
}

table {
  width : 100%;
  text-align : center;
  border-collapse: collapse;
}

tr, td {
  border-bottom : 2px solid #aaaaaa;
  padding: 10px;
}

.col_1{
  width : 14%;
  padding : 20px 0;
}

.col_2{
  width : 19%;
  width : -webkit-calc(20% - 2px); /* for Chrome, Safari */
  width :    -moz-calc(20% - 2px); /* for Firefox */
  width :         calc(20% - 2px); /* for IE */
  padding : 20px 0;
  border-left : 2px solid #ff6600;
}

.col_3{
  width : 19%;
  width : -webkit-calc(20% - 2px); /* for Chrome, Safari */
  width :    -moz-calc(20% - 2px); /* for Firefox */
  width :         calc(20% - 2px); /* for IE */
  padding : 20px 0;
  border-left : 2px solid #ff6600;
}

.col_4{
  width : 12%;
  width : -webkit-calc(13% - 2px); /* for Chrome, Safari */
  width :    -moz-calc(15% - 2px); /* for Firefox */
  width :         calc(13% - 2px); /* for IE */
  padding : 20px 0;
  border-left : 2px solid #ff6600;
}

.col_5{
  width : 12%;
  width : -webkit-calc(13% - 2px); /* for Chrome, Safari */
  width :    -moz-calc(13% - 2px); /* for Firefox */
  width :         calc(13% - 2px); /* for IE */
  padding : 20px 0;
  border-left : 2px solid #ff6600;
}

.col_6{
  width : 19%;
  width : -webkit-calc(20% - 2px); /* for Chrome, Safari */
  width :    -moz-calc(20% - 2px); /* for Firefox */
  width :         calc(20% - 2px); /* for IE */
  padding : 20px 0;
  border-left : 2px solid #ff6600;
}

#list > .total {
  width : 92%;
  width : -webkit-calc(100% - 80px); /* for Chrome, Safari */
  width :    -moz-calc(100% - 80px); /* for Firefox */
  width :         calc(100% - 80px); /* for IE */
  padding : 0 40px;
  height : 150px;
  overflow : auto;
  border-bottom : 2px solid #ff6600;
}

#list > .total > .left {
  float : left;
  display : table;
  width : 20%;
  height : 100%;
}

#list > .total > .left > p{
  display : table-cell;
  vertical-align : middle;
  font-size : 25px;
}

#list > .total > .right {
  float : right;
  width : 80%;
  height : 100%;
}

#list > .total > .right > .orange{
  text-align : right;
  width : 100%;
  float : right;
  color : #ff6600;
  font-size : 38px;
  margin-top : 40px;
}

#list > .total > .right > .dark{
  text-align : right;
  width : 100%;
  float : right;
  font-size : 20px;
}


#footer{
  width : 100%;
  height : 100px;
}

